<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Potassium</title>
</head>
<body>

<p>
    <%@ include file="navigation.html"%>
</p>
<h1>Potassium</h1>
<p><a href="https://www.britannica.com/science/potassium" target="_blank"><img
        src="https://media1.britannica.com/eb-media/77/131177-004-FCC8F85D.jpg"></a></p>

<p>
    <small>Sourced from Wikipedia, the free encyclopedia article on <a href="https://en.wikipedia.org/wiki/Potassium"
                                                                       target="_blank">Wikipedia</a></small>
</p>

<p><b>Potassium</b> is a chemical element with symbol <strong>K</strong> (derived from Neo-Latin, kalium) and atomic
    number 19. It was first isolated from <a href="https://en.wikipedia.org/wiki/Potash" target="_blank">Potash</a>, the
    ashes of plants, from which its name derives. In the periodic table, potassium is one of the alkali metals. All of
    the alkali metals have a single valence electron in the outer electron shell, which is easily removed to create an
    ion with a positive charge – a cation, which combines with anions to form salts. Potassium in nature occurs only in
    ionic salts. Elemental potassium is a soft silvery-white alkali metal that oxidizes rapidly in air and reacts
    vigorously with water, generating sufficient heat to ignite hydrogen emitted in the reaction and burning with a
    lilac-colored flame. It is found dissolved in sea water (which is 0.04% potassium by weight), and is part of many
    minerals.</p>

<p>Naturally occurring potassium is composed of three isotopes, of which <sup>40</sup>K is radioactive. Traces of <sup>40</sup>K
    are found in all potassium, and it is the most common radioisotope in the human body.</p>

<p>Potassium is chemically very similar to sodium, the previous element in Group 1 of the periodic table. They have a
    similar ionization energy, which allows for each atom to give up its sole outer electron. That they are different
    elements that combine with the same anions to make similar salts was suspected in 1702, and was proven in 1807 using
    electrolysis.</p>

<p>Most industrial applications of potassium exploit the high solubility in water of potassium compounds, such as
    potassium soaps. Heavy crop production rapidly depletes the soil of potassium, and this can be remedied with
    agricultural fertilizers containing potassium, accounting for 95% of global potassium chemical production.</p>

<p>Potassium ions are necessary for the function of all living cells. The transfer of potassium ions through nerve cell
    membranes is necessary for normal nerve transmission; potassium depletion can result in numerous abnormalities,
    including an abnormal heart rhythm and various <a href="https://en.wikipedia.org/wiki/Electrocardiography"
                                                      target="_blank">Electrocardiography</a> (ECG) abnormalities. Fresh
    fruits and vegetables are good dietary sources of potassium. The body responds to the influx of dietary potassium,
    which raises serum potassium levels, with a shift of potassium from outside to inside cells and an increase in
    potassium excretion by the kidneys.</p>

<hr>


<h2>Properties</h2>

<h3>Physical</h3>

<p>Potassium is the second least dense metal after lithium. It is a soft solid with a low melting point, and can be
    easily cut with a knife. Freshly cut potassium is silvery in appearance, but it begins to tarnish toward gray
    immediately on exposure to air. In a flame test, potassium and its compounds emit a lilac color with a peak emission
    wavelength of 766.5 nanometers.</p>


<h3>Chemical</h3>

<p>Neutral potassium atoms have 19 electrons, one more than the extremely stable configuration of the noble gas argon.
    Because of this and its low first ionization energy of 418.8 kJ/mol, the potassium atom is much more likely to lose
    the last electron and acquire a positive charge than to gain one and acquire a negative charge (though negatively
    charged alkalide K<sup>−</sup> ions are not impossible). This process requires so little energy that potassium is
    readily oxidized by atmospheric oxygen. In contrast, the second ionization energy is very high (3052 kJ/mol),
    because removal of two electrons breaks the stable noble gas electronic configuration (the configuration of the
    inert argon). Potassium therefore does not readily form compounds with the oxidation state of +2 or higher.</p>

<p>Potassium is an extremely active metal that reacts violently with oxygen in water and air. With oxygen it forms
    potassium peroxide, and with water potassium forms potassium hydroxide. The reaction of potassium with water is
    dangerous because of its violent exothermic character and the production of hydrogen gas. Hydrogen reacts again with
    atmospheric oxygen, producing water, which reacts with the remaining potassium. This reaction requires only traces
    of water; because of this, potassium and the liquid sodium-potassium — NaK — are potent desiccants that can be used
    to dry solvents prior to distillation.</p>


<h4>Compounds</h4>

<p>The only common oxidation state for potassium is +1. Potassium metal is a powerful reducing agent that is easily
    oxidized to the monopositive cation, K+. Once oxidized, it is very stable and difficult to reduce back to the
    metal.</p>

<p>Potassium hydroxide reacts readily with carbon dioxide to produce potassium carbonate, and is used to remove traces
    of the gas from air. In general, potassium compounds have excellent water solubility, owing to the high hydration
    energy of the K+ ion. The potassium ion is colorless in water and is very difficult to precipitate; possible
    precipitation methods include reactions with sodium tetraphenylborate, hexachloroplatinic acid, and sodium
    cobaltinitrite.</p>


<h3>Isotopes</h3>

There are 24 known isotopes of potassium, three of which occur naturally: <sup>39</sup>K (93.3%), <sup>40</sup>K
(0.0117%), and <sup>41</sup>K (6.7%). Naturally occurring <sup>40</sup>K has a half-life of 1.250×10<sup>9</sup> years.
It decays to stable <sup>40</sup>Ar by electron capture or positron emission (11.2%) or to stable <sup>40</sup>Ca by
beta decay (88.8%).

<hr>

<h2>Etymology</h2>

<p>Neither elemental potassium nor potassium salts (as separate entities from other salts) were known in Roman times,
    and the Latin name of the element, kalium, is not Classical Latin but rather neo-Latin. Kalium was taken from the
    word alkali, which in turn came from Arabic: القَلْيَه‎‎ al-qalyah "plant ashes." The similar-sounding English term
    alkali is from this same root.</p>

<p>In 1797, the German chemist Martin Klaproth discovered "potash" in the minerals leucite and lepidolite, and realized
    that "potash" was not a product of plant growth but was actually a new element, which he proposed to call kali. In
    1809, the German physicist and chemist Ludwig Wilhelm Gilbert proposed the names Kalium for Humphry Davy's
    "potassium" and Natronium for Davy's "sodium". In 1814, the Swedish chemist Berzelius advocated the name kalium for
    potassium, with the chemical symbol K.</p>
<p>The English name for the element potassium comes from the word "potash", and refers to the method of producing
    potassium: placing in a pot the ash of burnt wood or tree leaves, adding water, heating, and evaporating the
    solution.</p>
<video controls autoplay loop>
    <source src="https://upload.wikimedia.org/wikipedia/commons/4/43/Potassium_water_20.theora.ogv" type="video/ogg">
</video>
</body>
</html>
