<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Editors</title>
    <style>
        table {
            text-align: center;
        }

        td {
            background-color: lightslategray;
            border: 1px solid black;
        }

        .yes {
            background-color: lawngreen;
        }

        .no {
            background-color: indianred;
        }

        .partial {
            background-color: yellow;
        }

        .plugin {
            background-color: blueviolet;
        }

        th {
            background-color: cornflowerblue;
            border: 1px solid black;
            font-weight: bold;
        }

        tbody tr td:first-child {
            background-color: orangered;
            font-weight: bold;
        }

        tfoot td {
            background-color: cornflowerblue;
            border: 1px solid black;
            font-weight: bold;
        }
    </style>
</head>
<body>
<p>
    <%@ include file="navigation.html"%>
</p>
<h1>Text Editors</h1>

<p><a href="http://www.webdesignerdepot.com/2008/12/20-excellent-free-rich-text-editors/" target="_blank"><img
        src="http://netdna.webdesignerdepot.com/uploads/2008/11/11_damn_small_rich_text_editor.jpg"></a></p>
<p>
    <small>Sourced from Wikipedia, the free encyclopedia articles on <a href="https://en.wikipedia.org/wiki/Text_editor"
                                                                        target="_blank">Text editor</a> and
        <a href="https://en.wikipedia.org/wiki/Comparison_of_text_editors" target="_blank">Comparison of text
            editors</a>
    </small>
</p>

<p>A text editor is a type of program used for editing plain text files. Such programs are sometimes known as "notepad"
    software, following the Microsoft Notepad.</p>

<p>Text editors are provided with operating systems and software development packages, and can be used to change
    configuration files, documentation files and programming language source code.</p>

<hr>

<h2>Plain text files vs. word processor files</h2>

<p>There are important differences between plain text files created by a text editor and document files created by word
    processors such as Microsoft Word or WordPerfect.</p>

<p> plain text file uses a character encoding such as UTF-8 or ASCII to represent numbers, letters, and symbols. The
    only non-printing characters in the file that can be used to format the text are newline, tab, and formfeed. Plain
    text files are often displayed using a monospace font so horizontal alignment and columnar formatting is sometimes
    done using space characters.</p>

<p>Word processor documents are generally stored in a binary format to allow for localization and formatted text, such
    as boldface, italics and multiple fonts, and to be structured into columns and tables.</p>

<p>Although they are often viewed with formatting, documents using markup languages are stored in plain text files that
    contain a combination of human-readable text and markup tags. For example, web pages are plain text with HTML tags
    to achieve formatting when rendered by a web browser. Many web pages also contain embedded JavaScript that is
    interpreted by the browser.</p>

<p>Word processors were developed to allow formatting of text for presentation on a printed page, while text produced by
    text editors is generally used for other purposes, such as input data for a computer program.</p>

<p>When both formats are available, the user must select with care. Saving a plain text file in a word-processor format
    adds formatting information that can make the text unreadable by a program that expects plain text. Conversely,
    saving a word-processor document as plain text removes any formatting information.</p>

<hr>

<h2>Comparison of text editors</h2>


<table border="1">
    <caption>Text editor support for basic editing features</caption>
    <thead>
    <tr>
        <th>Editor</th>
        <th>Spell checking</th>
        <th>Regex-based find &amp; replace</th>
        <th>Encoding conversion</th>
        <th>Newline conversion</th>
        <th>Multiple undo/redo</th>
        <th>Rectangular block selection</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Acme</td>
        <td colspan="5">Yes</td>
        <td>No</td>
    </tr>
    </tbody>

    <tbody>
    <tr>
        <td>AkelPad</td>
        <td>Plug-in</td>
        <td colspan="5">Yes</td>
    </tr>
    </tbody>

    <tbody>
    <tr>
        <td>Alphatk</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Atom</td>
        <td colspan="5">Yes</td>
        <td>Plug-in</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>BBEdit</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Bluefish</td>
        <td colspan="5">Yes</td>
        <td>No</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Brackets</td>
        <td>Plug-in</td>
        <td>Yes</td>
        <td>Plug-in</td>
        <td>No</td>
        <td colspan="2">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Coda</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>ConTEXT</td>
        <td>No</td>
        <td colspan="2">Partial</td>
        <td colspan="3">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Diakonos</td>
        <td colspan="2">Yes</td>
        <td colspan="2">No</td>
        <td colspan="2">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>ed</td>
        <td>No</td>
        <td>Yes</td>
        <td colspan="4">No</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>EditPlus</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Editra</td>
        <td colspan="2">Yes</td>
        <td colspan="3">?</td>
        <td>Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>EmEditor</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Geany</td>
        <td>Plug-in</td>
        <td colspan="5">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>gedit</td>
        <td>Yes</td>
        <td>Plug-in</td>
        <td colspan="3">Yes</td>
        <td>
            Plug-in
        </td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>GNU Emacs</td>
        <td>Plug-in</td>
        <td colspan="5">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Gobby</td>
        <td colspan="2">No</td>
        <td colspan="2">Partial</td>
        <td colspan="2">No</td>
    </tbody>
    <tbody>
    <tr>
        <td>JED</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>JOVE</td>
        <td colspan="2">Yes</td>
        <td colspan="2">No</td>
        <td colspan="2">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Kate</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>KEDIT</td>
        <td>No</td>
        <td>Yes</td>
        <td>No</td>
        <td colspan="3">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Komodo Edit</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>KWrite</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>LE</td>
        <td>No</td>
        <td>Yes</td>
        <td>No</td>
        <td colspan="3">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Light Table</td>
        <td>Plug-in</td>
        <td>?</td>
        <td colspan="2">No</td>
        <td>Yes</td>
        <td>?</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Metapad</td>
        <td>Partial</td>
        <td>No</td>
        <td colspan="3">Yes</td>
        <td>No</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>mg</td>
        <td>No</td>
        <td>Yes</td>
        <td>No</td>
        <td>Partial</td>
        <td>Yes</td>
        <td>No</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>MinEd</td>
        <td>No</td>
        <td colspan="3">Yes</td>
        <td>No</td>
        <td>Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>MS-DOS Editor</td>
        <td colspan="3">No</td>
        <td>Yes</td>
        <td colspan="2">No</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Nano</td>
        <td colspan="2">Yes</td>
        <td>No</td>
        <td colspan="2">Yes</td>
        <td>No</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>ne</td>
        <td>No</td>
        <td>Yes</td>
        <td colspan="2">No</td>
        <td colspan="2">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>NEdit</td>
        <td>Plug-in</td>
        <td>Yes</td>
        <td>No</td>
        <td colspan="3">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Notepad</td>
        <td colspan="6">No</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Notepad++</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Notepad2</td>
        <td>No</td>
        <td>Limited</td>
        <td colspan="4">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>NoteTab</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>nvi</td>
        <td>No</td>
        <td>Yes</td>
        <td colspan="2">No</td>
        <td>Yes</td>
        <td>?</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Peppermint</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Pico</td>
        <td>Yes</td>
        <td colspan="5">No</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>PolyEdit</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Programmer's Notepad</td>
        <td>No
        <td colspan="5">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>PSPad</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Q10</td>
        <td>Yes</td>
        <td colspan="5">?</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>RText</td>
        <td colspan="5">Yes</td>
        <td>No</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>SciTE</td>
        <td>No</td>
        <td>Limited</td>
        <td>No</td>
        <td colspan="3">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>SlickEdit</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Smultron</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Source Insight</td>
        <td> No</td>
        <td>Yes</td>
        <td>No</td>
        <td colspan="3">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>SubEthaEdit</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Sublime Text</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>TED Notepad</td>
        <td colspan="3">No</td>
        <td colspan="2">Yes</td>
        <td>No</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>TextEdit</td>
        <td>Yes</td>
        <td>No</td>
        <td colspan="4">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>TextMate</td>
        <td>Yes</td>
        <td>Partial</td>
        <td colspan="4">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>TextPad</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>TextWrangler</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>The SemWare Editor</td>
        <td colspan="2">Yes</td>
        <td>No</td>
        <td colspan="3">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>UltraEdit</td>
        <td>Yes</td>
        <td>Limited</td>
        <td colspan="4">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>VEDIT</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>vi</td>
        <td>No</td>
        <td>Yes</td>
        <td colspan="4">No</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Vim</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Visual Studio Code</td>
        <td>Plug-in</td>
        <td colspan="5">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Xeditor</td>
        <td colspan="6">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>XEmacs</td>
        <td>Plug-in</td>
        <td colspan="5">Yes</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Yi</td>
        <td>?</td>
        <td>Yes</td>
        <td colspan="2">?</td>
        <td colspan="2">Yes</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td>Editor</td>
        <td>Spell checking</td>
        <td>Regex-based find &amp; replace</td>
        <td>Encoding conversion</td>
        <td>Newline conversion</td>
        <td>Multiple undo/redo</td>
        <td>Rectangular block selection</td>
    </tr>
    </tfoot>

</table>

<!-- DO NOT TOUCH BEYOND THIS LINE -->
<!-- The following applies color to table cells based on their textual content -->
<script type="text/javascript">
    var tds = document.getElementsByTagName("td");

    for (var i = 0, max = tds.length; i < max; i++) {
        if (tds[i].textContent === "Yes") {
            tds[i].classList.add("yes");
        } else if (tds[i].textContent === "No") {
            tds[i].classList.add("no");
        } else if (tds[i].textContent === "Partial") {
            tds[i].classList.add("partial");
        } else if (tds[i].textContent === "Plug-in") {
            tds[i].classList.add("plugin");
        }
    }
</script>
</body>
</html>